/*

    Color fondo: #F1F1F1
    Color resaltado: #A1A1A1
    Color de la empresa: #DDB513
    Color de la empresa resaltado: #CCA712
    Color del texto: #000000

    Tipo de letra: Montserrat, nunito, roboto

*/

body {
    text-align: center;
}

div.row {
    text-align: center;
    align-content: center;
}

div.chat-canvas {
    height: 70vh;
    width: 80%;
    background-color: white;
    margin: 1rem auto 1rem auto;
}

input.input-chat {
    margin: 0 0 0 auto;
    width: 60%
}

input.response {
    margin: 0 auto 0 auto;
    width: 80%
}

div.send-message-row {
    position: relative;
    top: 1em;
}

button.send-message {
    height: 3em !important;
    width: 20% !important;
    border-radius: 0.5em !important;
    margin: 0 auto 0 0!important;
}

button.btn-primary {
    height: 5em;
    width: 5em;
    border-radius: 1em;
    align-content: center;
    text-align: center;
    margin: 0.2em 0.25em 1.2em 0.25em;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    align-content: center;
    text-align: center;
    background-color: #BD9A11;
}
