/*

    Color fondo: #F1F1F1
    Color resaltado: #A1A1A1
    Color de la empresa: #DDB513
    Color de la empresa resaltado: #CCA712
    Color del texto: #000000

    Tipo de letra: Montserrat, nunito, roboto

*/

body {
    background: #f1f1f1;
    font-family: 'Montserrat', sans-serif, 'Nunito', 'Nunito Sans', 'Roboto';
    color: #000;
    font-size: 12px;
    text-align: center;
}

.btn-primary {
    background: #DDB513;
    border: none;
    border-radius: 1em;
    font-size: inherit;
    color: #000;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #CCA712;
    box-shadow: none !important;
    color: #000;
}
