/*

    Color fondo: #F1F1F1
    Color resaltado: #A1A1A1
    Color de la empresa: #DDB513
    Color de la empresa resaltado: #CCA712
    Color del texto: #000000

    Tipo de letra: Montserrat, nunito, roboto

*/

div#canvas {
    height: 100vh;
}

div {
    text-align: center;
}

div.direction-buttons {
    z-index: 5;
    position: absolute;
    bottom: 5em;
    width: 100%;
}

div.button-left {
    text-align: right;
    z-index: 5;
}


div.button-right {
    text-align: left;
    z-index: 5;
}

div.row.col-12 {
    align-content: center;
    text-align: center;
    margin-left: 2em;
}

button.button-predifined-route {
    width: 80%!important;
    height: 2.5em!important;
    position: absolute;
    bottom: 20em;
    margin-left: auto;
    margin-right: auto;
}

button.btn-primary {
    height: 6em;
    width: 6em;
    border-radius: 1em;
    align-content: center;
    text-align: center;
    margin: 1em 0.25em 0em 0.25em;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
    align-content: center;
    text-align: center;
    background-color: #BD9A11;
}
