/*

    Color fondo: #F1F1F1
    Color resaltado: #A1A1A1
    Color de la empresa: #DDB513
    Color de la empresa resaltado: #CCA712
    Color del texto: #000000

    Tipo de letra: Montserrat, nunito, roboto

*/

iframe {
    width: 100%;
    height: 90vh;
    font-family: 'Nunito', 'Nunito Sans', 'Roboto', 'Montserrat', sans-serif;
}

.btn-primary {
    background: #DDB513;
    height: 10px;
    border: none;
}


/* Navbar sin links */
#menuToggle {
    display: block;
    position: relative;
    top: 40px;
    margin-left: 25px;

    z-index: 2;

    -webkit-user-select: none;
    user-select: none;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 3;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*De cara a hacer la hambugesa sin necesidad de un icono*/
#menuToggle span.burger {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 2;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child.burger {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2).burger {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span.burger {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3).burger {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2).burger {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 90%;
    height: 109vh;
    margin: -100px 0 0 -25px;
    padding: 125px 40px 50px 40px;

    background: #F1F1F1;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

/* Links del navbar */
span.menu-link {
    width: 100%;
    height: 3em;
    margin: 0;
}

li.menu-item.active {
    background-color: #A1A1A1 !important;
}

li.menu-item {
    padding: 0;
    background-color: #F1F1F1;
    border: 1px #F1F1F1;
    margin: 0;
}

hr {
    z-index: 3;
    color: black;
    background: black;
    margin-top: 20px;
}

img.navbar-brand-image {
    position: relative;
    height: 50px;
    width: auto;
    margin: 0 auto;
}

div#blackener {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    height: 109vh;
    width: 100%;
    z-index: 1;
}