body {
    text-align: justify;
}

h1.info-title {
    margin: 1em;
    font-size: 2em;
}

div.info {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
    font-size: 1.16em;
}

h2.webpage-title {
    font-size: 1.3em;
}

p.webpage-p {
    
}