/*

    Color fondo: #F1F1F1
    Color resaltado: #A1A1A1
    Color de la empresa: #DDB513
    Color de la empresa resaltado: #CCA712
    Color del texto: #000000

    Tipo de letra: Montserrat, nunito, roboto

*/

h1.info-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

div.info {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;
    font-size: 1.16em;
}

button.button-start {
    margin-top: 1.5em;
    width: 13em;
    height: 2.5em;
}