/*

    Color fondo: #F1F1F1
    Color resaltado: #A1A1A1
    Color de la empresa: #DDB513
    Color de la empresa resaltado: #CCA712
    Color del texto: #000000

    Tipo de letra: Montserrat, nunito, roboto

*/

button.button-start {
    margin-top: 1.5em;
    box-shadow: none;
    height: 2.5em;
}
